<div class="image body">
  <div class="container">
    <h1>Listagem Agrupada</h1>
    <div class="divbotaonovo">
      <button mat-raised-button color="primary" routerLink="/cadastrar-anime">Novo Anime</button>
      <button mat-raised-button color="secondary" routerLink="/listar-anime">Listagem Total</button>
    </div>

    <div *ngFor="let animeData of animesData">
      <h2>{{ animeData.colecao }}</h2>
      <table>
        <thead>
          <tr>
            <th>Sequência</th>
            <th>Nome do Anime</th>
            <th>Tipo</th>
            <th>Ano</th>
            <th>Episódios</th>
            <th>Score</th>
            <th>Nota</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let anime of animeData.animes">
            <td>{{ anime.sequencia }}</td>
            <td>{{ anime.nomeAnime }}</td>
            <td>{{ anime.tipoAnime }}</td>
            <td>{{ anime.anoAnime }}</td>
            <td>{{ anime.epiAnime }}</td>
            <td>{{ anime.scoreAnime }}</td>
            <td>{{ anime.notaAnime }}</td>
            <td><div class="example-container" cdkScrollable>
              <button mat-mini-fab #tooltip="matTooltip" matTooltip="Pendência" routerLink="/pendencia-anime/{{anime.id}}"
                matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" color="primary"
                class="example-button">
                <mat-icon>list</mat-icon>
              </button>
              <span>&nbsp;&nbsp;</span>
              <button mat-mini-fab #tooltip="matTooltip" matTooltip="Editar" routerLink="/editar-anime/{{anime.id}}"
                matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" color="primary"
                class="example-button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab #tooltip="matTooltip" matTooltip="Excluir" (click)="excluirAnime(anime.id)"
                matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" color="secondary" class="example-button">
                <mat-icon>delete</mat-icon>
              </button>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
