<mat-toolbar class="header ">

  <span class="child" style="opacity: 5">
    <a routerLink="">
      <img class="logo" src="assets/img/raccoon.png" alt="logo">
    </a>
  </span>
  <span class="title-group">
    <a routerLink="">
      <i class="material-icons">
        home
      </i>
      Home
    </a>
  </span>
  <span class="title-group">
    <a routerLink="/categorias">
      <i class="material-icons">
        move_up
      </i>
      Categorias
    </a>
  </span>
  <span class="title-group">
    <a routerLink="/pessoas">
      <i class="material-icons">
        group
      </i>
      Pessoas
    </a>
  </span>
</mat-toolbar>



<!-- <nav>
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/categorias">Categorias</a></li>
        <li><a routerLink="/pessoas">Pessoas</a></li>
      </ul>
    </div>
</nav> -->