.image {
    background-image: url('../../../../assets/img/space-50.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 100%;
  }

  .body {
    margin: 0;
    padding: 0;
    padding-bottom: 500px;
    color: white;
    padding-top: 100px;
  }

  .container {
    text-align: center;
    justify-content: center;
    width: 80%;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    padding-top: 1rem;
    position: center;
    margin: auto;
  }


  table {
    width: 100%;
  }

  table tr:hover {
    background: purple;
  }

  table th {
    font-size: 18px;
    font-weight: bold;
  }

  table td {
    font-size: 16px;
  }

  .divbotaonovo {
    margin-bottom: 25px;
  }
