<div class="body image">
  <div class="container">
    <h1>Cadastro de Filmes</h1>
    <form class="example-form" [formGroup]="frm" (ngSubmit)="salvar()">
      <mat-form-field class="example-full-width">
        <mat-label>Nome do Filme</mat-label>
        <input matInput placeholder="Nome do Filme" formControlName="nome" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Ano</mat-label>
        <input matInput placeholder="Ano" formControlName="ano" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descrição" formControlName="dsc" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="frm.invalid">Salvar</button>
    </form>
    <div class="dialog" mat-dialog-content>
      <button mat-raised-button>{{frm.value.nome}}</button>
      <button mat-raised-button>{{frm.value.ano}}</button>
      <button mat-raised-button>{{frm.value.dsc}}</button>
    </div>
  </div>
</div>