.image {
  background-image: url('../../../../assets/img/space4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 100%;
}

.example-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; /* Adiciona margem automática nas laterais para centralizar */
  max-width: 700px; /* Defina um valor máximo para o contêiner se desejar */
}

.example-form {
  width: calc(80% - 10px); /* Defina a largura desejada para os campos */
  box-sizing: border-box;
  margin-bottom: 10px;
}

.example-full-width {
  width: 100%;
}

.mensagem_error {
  background-color: white;
}

.body {
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
  color: white;
  padding-top: 100px;
}

.container {
  text-align: center;
  justify-content: center;
  width: 80%;
  box-sizing: border-box;
  display: block;
  flex-wrap: wrap;
  padding-top: 1rem;
  position: center;
  margin: auto;
}

.dialog {
  margin-top: 20px;
}

button[color="primary"] {
  background-color: #8a3fff;
  color: white;
}

button[color="secondary"] {
  background-color: #d9ff00;
  color: black;
  margin-left: 1em;
}

button[color="terciary"] {
  background-color: orange;
  color: black;
  margin-left: 1em;
}

h1 {
 color: orange;
}
